<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>All Blogs</title>
</head>
<body>
{% extends 'portfolio/base.html' %}

{% block content %}

<h1 style="text-align: center">ALL BLOGS</h1>
<h2>I've written {{ blogs.count }} blog{{ blogs.count|pluralize }}</h2>
{% for blog in blogs %}
    <a href="{% url 'blog:detail' blog.id %}"><h3>{{ blog.title }}</h3></a>
    <h5>{{ blog.date|date:'M d Y'|upper }}</h5>
    <p>{{ blog.description|truncatechars:150 }}</p>
{% endfor %}

{% endblock %}
</body>
</html>